/SpaServer/doc/
/SpaServer/.yardoc/
/Slimer/Slimer.xcworkspace/xcuserdata
/Slimer/Slimer.xcodeproj/xcuserdata/
/Slimer/Slimer.xcodeproj/project.xcworkspace/xcuserdata/
/SpaServer/.idea/workspace.xml
.DS_Store